<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог не о чем!!! </a></h1>
        </div>

        <div>
            <p>Дата публикации: 14.02.2021, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>A
                Девушки, а Вы знали, что по статистике мужчина способен провести в торговом центре, всего 26 минут.💃 
                Делимся данными из мировых новостей </p>
        </div>

        <div>
            <p>Дата публикации: 14.02.2021, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Очень приятно смотрится интересный фотоотчет о путешествиях. Дальние страны, красивые виды, национальный колорит, но можно путешествовать и в деревню к бабушке, ведь интересные уголки можно найти везде. Не забывайте, что прекрасные фото должен подкреплять информативный текст. Развлекайте своих подписчиков и они развлекут вас интересными комментариями, ведь сколько людей, столько и мнений</p>
        </div>
    </body>
</html>